{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                </div>
            </div>
            <div class="row ftco-animate fadeInUp ftco-animated">
                <div class="col-md-12">
                    <div class="carousel-properties owl-carousel owl-loaded owl-drag">
                        <div class="item">
                            <div class="property-wrap ftco-animate">
                                <a href="#" class="img"
                                   style="background-image: url('{{ item.picture.url }}');">
                                    <div class="rent-sale">
                                        <span class="rent">{{ item.rental_period }}</span>
                                    </div>
                                    <p class="price"><span
                                            class="orig-price">{{ item.price }}<small> {{ item.taking_time }}</small></span>
                                    </p>
                                </a>
                                <div class="text">
                                    <ul class="property_list">
                                        <li><span class="flaticon-bed"></span>{{ item.sqft }}</li>
                                        <li><span class="flaticon-bathtub"></span>{{ item.sqft }}</li>
                                        <li><span class="flaticon-floor-plan"></span>{{ item.sqft }}</li>
                                    </ul>
                                    <h3><a href="#">{{ item.name }}</a></h3>
                                    <span class="location">{{ item.place }}</span>
                                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                                        <span class="fa fa-link"></span>
                                    </a>
                                    <div class="list-team d-flex align-items-center mt-2 pt-2 border-top">
                                        <div class="d-flex align-items-center">
                                            <div class="img"
                                                 style="background-image: url({% static 'images/person_1.jpg' %});"></div>
                                            <h3 class="ml-2">{{ item.owner }}</h3>
                                        </div>
                                        <span class="text-right">{{ homes.count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button onclick="window.location.href='{% url 'property_new' item.pk %}'">Update</button>
    <a
            class="dropdown-item"
            href="{% url 'delete' item.pk %}">Remove</a>


</a>
</body>
</html>