{% load static %}
{% block services %}
    <div class="container">

        <div class="row d-flex no-gutters">
            <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                <div class="media block-6 services services-bg d-block text-center px-4 py-5">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Trusted by Thousands</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-home"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Wide Range of Properties</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-stats"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Financing Made Easy</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                <div class="media block-6 services services-bg d-block text-center px-4 py-5">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-quarantine"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Locked in Pricing</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}